h1 {
    color: blue;
}

h3 {
    color: red;
}

h5 {
    background-color: black;
    color: white;
}

#specialH1 {
    color: green;
}

.specialH2 {
    color: purple;
}

p {
    background-color: pink;
}